<!DOCTYPE HTML>
<html>
	{% load static %}
	<head>
		<link rel="shortcut icon" href="{% static 'predict/images/cardiogram.png' %}" type="image/x-icon">
		<title>Report</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'predict/assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{% url 'index' %}">Smart healthcare system</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'blog:all_blogs' %}">Articles</a></li>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'home' %}">Checkup</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

            <section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
                        <h2 color="white">Previous reports</h2>
                        <p>Check your past medical history.</p>
                    </header>
					<ol>
                    {% for report in reports %}
                          <div>
                            <a href="{% url 'viewreport' report.id %}" style="text-decoration:none;">
								<h2><li>Date : {{ report.created }}<br> {{ report.disease }}</li></h2>
                            </a>
                          </div>
                    {% endfor %}
					</ol>
				</div>
            </section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/mayank-joshi-219658191/" class="icon fa-linkedin" target="_blank"></a></li>
						<li><a href="https://github.com/Mayank-J0shi" class="icon fa-github" target="_blank"></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'predict/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'predict/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'predict/assets/js/util.js' %}"></script>
			<script src="{% static 'predict/assets/js/main.js' %}"></script>

	</body>
</html>








